<!DOCTYPE html>
<!--[if lt IE 9 ]> <html lang="zxx" dir="ltr" class="no-js ie-old"> <![endif]-->
<!--[if IE 9 ]> <html lang="zxx" dir="ltr" class="no-js ie9"> <![endif]-->
<!--[if IE 10 ]> <html lang="zxx" dir="ltr" class="no-js ie10"> <![endif]-->
<!--[if (gt IE 10)|!(IE)]><!-->
<html lang="zxx" dir="ltr" class="no-js">
<!--<![endif]-->
{% load static %}
{% load widget_tweaks %}
<head>

    <!-- ––––––––––––––––––––––––––––––––––––––––– -->
    <!-- META TAGS                                 -->
    <!-- ––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <!-- Always force latest IE rendering engine -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile specific meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- ––––––––––––––––––––––––––––––––––––––––– -->
    <!-- PAGE TITLE                                -->
    <!-- ––––––––––––––––––––––––––––––––––––––––– -->
    <title>Klip | Coupons, Deals, Discounts </title>

    <!-- ––––––––––––––––––––––––––––––––––––––––– -->
    <!-- SEO METAS                                 -->
    <!-- ––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="description" content="brief description here">
    <meta name="keywords" content="insert, keywords, here">
    <meta name="robots" content="index, follow">
    <meta name="author" content="CODASTROID">

    <!-- ––––––––––––––––––––––––––––––––––––––––– -->
    <!-- PAGE FAVICON                              -->
    <!-- ––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="apple-touch-icon" href="{% static "main_app/images/favicon/apple-touch-icon.png" %}">
    <link rel="icon" href="{% static "main_app/images/favicon/favicon.ico" %}">

    <!-- ––––––––––––––––––––––––––––––––––––––––– -->
    <!-- GOOGLE FONTS                              -->
    <!-- ––––––––––––––––––––––––––––––––––––––––– -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600" rel="stylesheet">

    <style>
        @font-face {
    font-family: "georgina";
    src: url("{% static 'main_app/fonts/GeorginaDemo-Regular.eot' %}");
    src: url("{% static 'main_app/fonts/GeorginaDemo-Regular.eot?#iefix' %}") format("embedded-opentype"),
         url("{% static 'main_app/fonts/GeorginaDemo-Regular.woff' %}") format("woff"),
         url("{% static 'main_app/fonts/GeorginaDemo-Regular.ttf'  %}") format("truetype");
    font-weight: normal;
    font-style: normal;
    }
    </style>
    <!-- ––––––––––––––––––––––––––––––––––––––––– -->
    <!-- Include CSS Filess                        -->
    <!-- ––––––––––––––––––––––––––––––––––––––––– -->

    <!-- Bootstrap -->
    <link href="{% static "main_app/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="{% static "main_app/vendors/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet">

    <!-- Linearicons -->
    <link href="{% static "main_app/vendors/linearicons/css/linearicons.css" %}" rel="stylesheet">

    <!-- Owl Carousel -->
    <link href="{% static "main_app/vendors/owl-carousel/owl.carousel.min.css" %}" rel="stylesheet">
    <link href="{% static "main_app/vendors/owl-carousel/owl.theme.min.css" %}" rel="stylesheet">

    <!-- Flex Slider -->
    <link href="{% static "main_app/vendors/flexslider/flexslider.css" %}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{% static "main_app/css/base.css" %}" rel="stylesheet">
    <link href="{% static "main_app/css/style.css" %}" rel="stylesheet">
</head>

<body id="body" class="wide-layout preloader-active">

    <!--[if lt IE 9]>
        <p class="browserupgrade alert-error">
        	You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
        </p>
    <![endif]-->

    <noscript>
        <div class="noscript alert-error">
            For full functionality of this site it is necessary to enable JavaScript. Here are the <a href="http://www.enable-javascript.com/" target="_blank">
		 instructions how to enable JavaScript in your web browser</a>.
        </div>
    </noscript>

    <!-- ––––––––––––––––––––––––––––––––––––––––– -->
    <!-- PRELOADER                                 -->
    <!-- ––––––––––––––––––––––––––––––––––––––––– -->
    <!-- Preloader -->
    <div id="preloader" class="preloader">
        <div class="loader-cube">
            <div class="loader-cube__item1 loader-cube__item"></div>
            <div class="loader-cube__item2 loader-cube__item"></div>
            <div class="loader-cube__item4 loader-cube__item"></div>
            <div class="loader-cube__item3 loader-cube__item"></div>
        </div>
    </div>
    <!-- End Preloader -->
    <!-- ––––––––––––––––––––––––––––––––––––––––– -->
    <!-- WRAPPER                                   -->
    <!-- ––––––––––––––––––––––––––––––––––––––––– -->
    <div id="pageWrapper" class="page-wrapper">
        <!-- –––––––––––––––[ HEADER ]––––––––––––––– -->
        <header id="mainHeader" class="main-header">
            

             <!-- Top Bar -->
             <div class="top-bar bg-blue">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-4 is-hidden-sm-down">
                            <ul class="nav-top nav-top-left list-inline t-left">
                                <li><a href="{% url 'about_us' %}"><i class="fa fa-question-circle"></i>About</a>
                                </li>
                                <li><a href="{% url 'contact_us' %}"><i class="fa fa-support"></i>Contact Us</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <ul class="nav-top nav-top-right list-inline t-xs-center t-md-right">
                                {% if user.is_authenticated %}
                                <li>
                                    <a href="#"><i class="fa fa-account"></i>{{ user.first_name }} {{ user.last_name }} <i class="fa fa-caret-down"></i></a>
                                    <ul>
                                        <li><a href="{% url 'users_app:profile' %}">{% if user.profile.user_type == 1 %}Dashboard{% else %}Profile{% endif %}</a>
                                        </li>
                                        <!--li><a href="{% url 'users_app:profile' %}#wallet">wallet</a>
                                        </li-->
                                        <li><a href="{% url 'logout' %}">Sign Out</a>
                                        </li>
                                    </ul>
                                </li>
                                {% else %}
                                <li><a href="{% url 'login' %}"><i class="fa fa-lock"></i>Sign In</a>
                                </li>
                                <li><a href="{% url 'register' %}"><i class="fa fa-user"></i>Sign Up</a>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Top Bar -->

            <!-- Header Header -->
            <div class="header-header bg-white">
                <div class="container">
                    <div class="row row-rl-0 row-tb-20 row-md-cell">
                        <div class="brand col-md-3 t-xs-center t-md-left valign-middle">
                            <a href="{% url 'index' %}" class="logo">
                                <span>Klip</span>
                            </a>
                        </div>
                        <div class="header-search col-md-9">
                            <div class="row row-tb-10 ">
                                <div class="col-sm-8">
                                    <form class="search-form" action="{% url 'map_view' %}" method="post" >
                                        {%  csrf_token %}
                                        <div class="input-group">
                                            <div class="search-input-wrapper">
                                                {% render_field form.location class="form-control input-lg search-input" id="searchTextField" style="background-color: rgba(255,255,255, 0.9)" placeholder="Enter location ..." required="required " %}
                                                <button id="current" class="btn btn-lg btn-search" tittle="Your location">
                                                        <i class="fa fa-map-marker font-16"></i>
                                                </button>
                                            </div>
                                            <div class="input-group-btn" style="background-color: rgba(255,255,255, 0.9)">
                                                <div class="input-group">
                                                    <select class="form-control input-lg search-select">
                                                        <option>Select Type</option>
                                                        <option>Indica</option>
                                                        <option>Sativa</option>
                                                        <option>Hybrid</option>
                                                        <option>CBD</option>
                                                        <option>Concentrates</option>
                                                        <option>Edibles</option>
                                                    </select>
                                                    <div class="input-group-btn">
                                                        <button type="submit" class="btn btn-lg btn-search btn-block" style="margin-left: 0;">
                                                            <i class="fa fa-search font-16"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-sm-4 t-xs-center t-md-right">
                                    <div class="header-cart">
                                        {% if user.profile.user_type == 1 %}
                                        <!--a href="{% url 'users_app:profile' %}">
                                            <span class="icon lnr lnr-cart"></span>
                                            <span class="title">Cabinet</span>
                                        </a-->
                                        {% else %}
                                            <a href="{% url 'users_app:profile' %}#wallet">
                                            <span class="icon lnr lnr-cart"></span>
                                            <span class="title">Wallet</span>
                                            </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Header Header -->

        </header>

        <!-- –––––––––––––––[ HEADER ]––––––––––––––– -->

        <!-- –––––––––––––––[ PAGE CONTENT ]––––––––––––––– -->
        <main id="mainContent" class="main-content">
            <!-- Page Container -->
            <div class="page-container ptb-60">
                <div class="container">

                    <!-- Contact Us Area -->
                    <section class="terms-area panel">
                        <div class="ptb-30 prl-30" style="padding-bottom: 170px!important;">
                            <h3 class="t-uppercase h-title mb-40">About Us</h3>
                            <p>Find the best deals near you whether if you are a patient or a distributor. Earn points while you save so you can save even more for your future purchases!</p>
                            <p>We support dispensaries, cultivators, and manufacturers.</p> <p class="mb-20">Contact us on how to join Klip MJ.</p>
                        </div>
                    </section>
                    <!-- End Contact Us Area -->

                </div>
            </div>
            <!-- End Page Container -->


        </main>
        <!-- –––––––––––––––[ END PAGE CONTENT ]––––––––––––––– -->
        <!-- –––––––––––––––[ FOOTER ]––––––––––––––– -->
        <footer id="mainFooter" class="main-footer ptb-20">
            <div class="container">
                <div class="row">
                    <div>
                        <p style="margin-top: 0;">Copyright &copy; 2017 . All rights reserved.</p>
                    </div>
                    <div class="payment-methods t-center mt-30" style="opacity: 0.8;">
                            <span><img src="{% static 'main_app/images/icons/payment/paypal.jpg' %}" alt=""></span>
                            <span><img src="{% static 'main_app/images/icons/payment/visa.jpg' %}" alt=""></span>
                            <span><img src="{% static 'main_app/images/icons/payment/mastercard.jpg' %}" alt=""></span>
                            <span><img src="{% static 'main_app/images/icons/payment/discover.jpg' %}" alt=""></span>
                            <span><img src="{% static 'main_app/images/icons/payment/american.jpg' %}" alt=""></span>
                    </div>

                </div>
            </div>
        </footer>
        <!-- –––––––––––––––[ END FOOTER ]––––––––––––––– -->

    </div>
    <!-- ––––––––––––––––––––––––––––––––––––––––– -->
    <!-- END WRAPPER                               -->
    <!-- ––––––––––––––––––––––––––––––––––––––––– -->


    <!-- ––––––––––––––––––––––––––––––––––––––––– -->
    <!-- BACK TO TOP                               -->
    <!-- ––––––––––––––––––––––––––––––––––––––––– -->
    <div id="backTop" class="back-top is-hidden-sm-down">
        <i class="fa fa-angle-up" aria-hidden="true"></i>
    </div>

    <!-- ––––––––––––––––––––––––––––––––––––––––– -->
    <!-- SCRIPTS                                   -->
    <!-- ––––––––––––––––––––––––––––––––––––––––– -->

    <!-- (!) Placed at the end of the document so the pages load faster -->

    <!-- ––––––––––––––––––––––––––––––––––––––––– -->
    <!-- Initialize jQuery library                 -->
    <!-- ––––––––––––––––––––––––––––––––––––––––– -->
    <script src="{% static "main_app/js/jquery-1.12.3.min.js" %}"></script>

    <!-- ––––––––––––––––––––––––––––––––––––––––– -->
    <!-- Latest compiled and minified Bootstrap    -->
    <!-- ––––––––––––––––––––––––––––––––––––––––– -->
    <script type="text/javascript" src="{% static "main_app/js/bootstrap.min.js" %}"></script>

    <!-- ––––––––––––––––––––––––––––––––––––––––– -->
    <!-- JavaScript Plugins                        -->
    <!-- ––––––––––––––––––––––––––––––––––––––––– -->
    <!-- (!) Include all compiled plugins (below), or include individual files as needed -->

    <!-- Modernizer JS -->
    <script src="{% static "main_app/vendors/modernizr/modernizr-2.6.2.min.js" %}"></script>
    
    <!-- Owl Carousel -->
    <script type="text/javascript" src="{% static "main_app/vendors/owl-carousel/owl.carousel.min.js" %}"></script>

    <!-- FlexSlider -->
    <script type="text/javascript" src="{% static "main_app/vendors/flexslider/jquery.flexslider-min.js" %}"></script>

    <!-- Coutdown -->
    <script type="text/javascript" src="{% static "main_app/vendors/countdown/jquery.countdown.js" %}"></script>

    <!-- ––––––––––––––––––––––––––––––––––––––––– -->
    <!-- Custom Template JavaScript                   -->
    <!-- ––––––––––––––––––––––––––––––––––––––––– -->
    <script type="text/javascript" src="{% static "main_app/js/main.js" %}"></script>
    <script>
        function initialize() {

        var input = document.getElementById('searchTextField');
        var autocomplete = new google.maps.places.Autocomplete(input);
        }

        //google.maps.event.addDomListener(window, 'load', initialize);
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBSAyxn_ECVYJJXf-hJAeSaYe2pOxHquEQ&libraries=places&callback=initialize" async defer></script>
    <script>
        $("#current").on('click', function(){
        var x = $('#searchTextField');

        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else {
                x.val("Geolocation is not supported by this browser.");
            }
        }

        function showPosition(position) {
            x.val(position.coords.latitude + "  " + position.coords.longitude);
        }

        getLocation();
        })

    </script>
</body>

</html>